{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Траты
{% endblock %}

{% block content %}
{% if "/update/" in request.path or "/create/" in request.path %}
<div class="card-body">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Отправить" %}
</form>
<a href="{% url 'spending:all_spending'%}">Все расходы</a>
</div>
{% else %}
<div>
    {% for spend in spendings %}
        <p><b>Сумма:</b> {{ spend.money }}</p>
        <p><b>Категория:</b> {{ spend.category.title }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% endfor %}
    <a href="{% url 'spending:update' %}">Изменить данные</a>
    <br>
    <a href="{% url 'spending:create' %}">Добавить</a>
</div>
{% endif %}
{% endblock %}